@model MinuteBurger.Models.SortAndList
@{

}
<div class="container mt-4">
	<h2>Product List</h2>
	<a class="btn btn-primary" asp-action="AddProduct">Add Product</a>
	<a class="btn btn-secondary" asp-action="VoucherList">Vouchers</a>


	<form method="get" asp-action="Sort">
		<input asp-for="SearchString" />
		<button type="submit">Search</button>
	</form>
	<table class="table table-striped table-bordered">
		<thead class="table-dark">
			<tr>
				<th>Product Id</th>
				<th>Name</th>
				<th>Description</th>
				<th>Price</th>
				<th>Available Stock</th>
				<th>Image</th>
				<th>Actions</th>
			</tr>
		</thead>
        <tbody>
            <tr>
                <td>@Model.Product.ProductId</td>
                <td>@Model.Product.Name</td>
                <td>@Model.Product.Description</td>
                <td>@string.Format("{0:C}", Model.Product.Price)</td>
                <td>@Model.Product.StockQuantity</td>
                <td><img src="@Model.Product.ImageUrl" alt="Uploaded Image" style="max-width: 300px;" /></td>
                <td>
                    <a class="btn btn-primary" asp-action="EditView" asp-route-id="@Model.Product.ProductId">View Details</a>
                </td>
            </tr>
        </tbody>
	</table>
</div>
